/* styles in src/style directory are applied to the whole page */
/*body {*/
/*  background: #0147A7;*/
/*  color: #fff;*/
/*}*/

/*a {*/
/*  color: #03A9F4;*/
/*}*/

/*main {*/
/*  padding: 1em;*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*  text-align: center;*/
/*  margin-top: 50px;*/
/*  display: block;*/
/*}*/

/*footer {*/
/*  text-align: center;*/
/*  font-size: 0.8em;*/
/*}*/

*,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  font-family: 'Futura PT';
  transition: 0.3s all ease;
}
body {
  overflow-x: hidden;
}
ul,ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a, a:hover {
  text-decoration: none;
}
.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
  url('../fonts/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
  url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
/*--- Body CSS End ---*/


.wrapper {
  background-color: #E5E5E5;
  padding-bottom: 290px;
}
.banner {
  position: relative;
  height: 560px;
  background: linear-gradient(159.41deg, #FF009D 3.42%, #F5B324 96.5%);
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
}
.welcome {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
  height: 84px;
  text-align: center;
}
.welcome img {
  width: 100%;
}
.logo {
  max-width: 550px;
  margin: 0 auto;
  padding-top: 120px;
  box-sizing: border-box;
}
.logo a {
  display: block;
}
.logo img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}
/*--- Banner CSS End ---*/



.movies-box {
  max-width: 750px;
  margin: -140px auto 0;
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(24, 17, 3, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(24, 17, 3, 0.14);
  border-radius: 4px;
  z-index: 100;
  position: relative;
  padding: 30px 95px 60px;
}
.theater-section {
  margin-bottom: 60px;
}
.movies-box h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 50px;
}
.theaters-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7.5px;
}
.theater-item {
  padding: 13px 15px;
  border: 1px solid #090909;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 7.5px 15px;
  width: 31.3%;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #090909;
  font-weight: 700;
}
.theater-item:hover,
.theater-item.selected {
  background: #F0B323;
  border-color: #F0B323;
}
.movies-box h4 {
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: rgba(9, 9, 9, 0.6);
  font-weight: 700;
  margin: 0 0 20px;
}
.movies-box h4 span {
  color: #000;
}



.movie-item {
  padding: 15px 20px;
  border: 1px solid #090909;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 15px 0;
  font-size: 22px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #090909;
  font-weight: 700;
}
.movie-item:hover,
.movie-item.selected {
  background: #090909;
  color: #F0B323;
}
.movie-item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.movie-item .fa {
  color: #090909;
  font-size: 20px;
}
.movie-item:hover span,
.movie-item.selected span,
.movie-item:hover .fa,
.movie-item.selected .fa {
  color: #F0B323;
}
/*--- Content CSS End ---*/



/*--- Responsive Start ---*/
@media (max-width: 991px) {
  .movies-box {
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px 50px 50px 50px;
  }
  .theater-item {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  .wrapper {
    padding-bottom: 150px;
  }
}

@media (max-width: 767px) {
  .logo {
    max-width: 400px;
    padding-top: 100px;
  }
  .banner {
    height: 480px;
  }
  .welcome {
    width: 200px;
    height: 65px;
  }
  .movies-box h3 {
    font-size: 22px;
    margin-bottom: 35px;
  }
  .theater-item {
    padding: 10px 15px;
  }
}

@media (max-width: 575px) {
  .logo {
    max-width: 300px;
    padding-top: 60px;
  }
  .banner {
    height: 430px;
  }
  .theater-section {
    margin-bottom: 40px;
  }
  .movies-box {
    padding: 30px 30px;
  }
}

@media (max-width: 480px) {
  .logo {
    max-width: 260px;
    padding-top: 50px;
  }
  .welcome {
    width: 170px;
    height: 55px;
  }
  .movies-box {
    margin-right: 15px;
    margin-left: 15px;
  }
  .banner {
    height: 380px;
  }
  .movies-box h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .theaters-list {
    margin-left: 0;
    margin-right: 0;
  }
  .theater-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .movie-item {
    padding: 12px 15px;
    font-size: 18px;
  }
}
/*--- Responsive End ---*/
